body {
  font-family: "Qanelas", sans-serif;
}

.container{
  max-width: 1460px;
  padding: 0 15px;
  max-width: 0 auto;
}

.title-2{
  color: var(--text-color);
  font-family: Qanelas;
  font-size: 65px;
  font-weight: 900;
}